<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true"   name="youapp-log4j2"
               packages="j.jave.kernal.jave">
  <Properties>  
        <Property name="rolllogDir">d:/platform/log11</Property>  
        <Property name="rolllogRollingFile">platform-web.log</Property>  
  </Properties>
  <Appenders>
    <Appender type="Console" name="appConsole">
      <Layout type="PatternLayout" pattern="%d %p  %c [%t] %m %n"/>
    </Appender>
    <RollingFile name="rollingFile" fileName="${rolllogDir}/${rolllogRollingFile}" append="true"  
                             filePattern="${rolllogDir}/$${date:yyyy-MM}/tech-market-platform-%d{MM-dd-yyyy}-%i.log">  
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>  
            <SizeBasedTriggeringPolicy size="5 MB"/>  
    </RollingFile>
  </Appenders>
 
  <Loggers>
    <Logger name="com.kcfy" level="DEBUG" additivity="false">
      <AppenderRef ref="appConsole"/>
      <AppenderRef ref="rollingFile"/>
    </Logger>
    <Logger name="org" level="INFO" additivity="false">
      <AppenderRef ref="appConsole"/>
      <AppenderRef ref="rollingFile"/>
    </Logger>
    <Logger name="com" level="INFO" additivity="false">
      <AppenderRef ref="appConsole"/>
      <AppenderRef ref="rollingFile"/>
    </Logger>
    <Logger name="test.com.kcfy" level="DEBUG" additivity="false">
      <AppenderRef ref="appConsole"/>
      <AppenderRef ref="rollingFile"/>
    </Logger>
  </Loggers>
 
</Configuration>